rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{user} {
    	allow read: if request.auth != null
      allow write: if request.auth.uid == user
    }
    
    match /appointments/{appointment} {
      allow read: if request.auth != null && resource.data.forUser is string && request.auth.uid == resource.data.forUser  
      allow write: if false
    }

    match /counsellors/{counsellor} {
      allow read: if request.auth != null && resource.data.display is string && resource.data.display == 'public'
      allow write: if false
    }

    match /groupSessions/{groupSessions} {
      allow read: if request.auth != null && resource.data.display is string && resource.data.display == 'public'
      allow write: if false
    }
  }
}